cache/
out/
.vscode
node_modules
.env

typechain
compiled-typechain
artifacts
cache
.DS_Store
*.swp
.tmp

.vscode/
.idea/
.openzeppelin/.hidden/

scripts/simulation/mock/cache
scripts/simulation/mock/output